@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');

:root {
  --ultra: 'Ultra', serif;
  --black-shade: rgb(51, 48, 48);
  --pink-shade: #f9c1c1;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: var(--ultra);
}

.App{
  display: flex;
}

#header{
  position: fixed;
  background-color: var(--black-shade);
  width: 100vw;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 1%;
  letter-spacing: 0.2ch;
}

#header-right,
#header-left{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#rules{
  width: 50%;
  text-align: justify;
}

#rules,
span{
  color: var(--pink-shade);
}